* {
  margin: 0;
  padding: 0;
  outline: 0;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@font-face {
  font-family: 'adinekirnberg';
  src:url(./Assets/adinekirnberg/AdineKirnberg.ttf);
}


/* ==================================================
                Common css end
===================================================*/